#inp{
    height: 300px;
    width: 400px;
    background: linear-gradient(60deg, rgb(221, 69, 69), pink,rgb(102, 102, 240));
    border-radius: 15px;
    margin: auto;
    text-align: center;
    box-shadow:  8px 8px 15px rgb(58, 56, 56),-8px -8px 15px rgb(58, 56, 56);
    

}

#inp{
    input{
        border-top: 0;
        border-left: 0;
        border-right: 0;
        width: 200px;
        height: 25px;
    }
}